.canvasContainer {
    position: relative;
    width: 1600px;
    height: 900px;
}

.scene {
    background: repeating-linear-gradient(
    45deg,
    grey,
    grey 10px,
    darkgrey 10px,
    darkgrey 20px
  );
    
}

.text {
    position: absolute;
    top: 0;
}